@{
    ViewData["Title"] = "Index";
}

<h2>Đăng nhập</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <button >Employee 1</button>
        </div>
        <div class="col">
            <button>Manager 1</button>
        </div>
        <div class="col">
            <button>Buyer 1</button>
        </div>
    </div>
</div>
